{% include 'header.html' %}
    <style>
    html {
        background-image: url("static/images/index_background.jpeg");
        color: black;
        }
    .centered {
        position:absolute;
        width:700px;
        height:50px;
        left:50%;
        top:50%;
        margin-left:-350px;
        margin-top:-50px;
    }
    </style>
    <div class="centered">
        <form method="POST" action="/weather">
            <h1>
                {{label}}: <input type="text" name="address" size="38" style="font: initial; font-size:20px; background-color:SkyBlue;">
                <input style="font: initial; text-align: center; background-color:SkyBlue; font-size:20px; font-weight:bold;" type="submit">
            </h1>
        </form>
    </div>
{% include 'footer.html' %}
